@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-toast-width: 720px;
  --toastify-color-progress-dark: #00c7c7;
  --toastify-text-color-dark: #fff;
  
}
.active {
  background: #00c7c7;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: radial-gradient(circle, 
  rgba(2,165,184,1) 0%, 
  rgba(0,228,255,0.9) 50%, 
  rgba(152,251,255,0.7) 100%);
  box-shadow: 0 0 10px rgba(2,165,184,0.8), 
              0 0 40px rgba(2,165,184,0.8);
}

/* Ya existente */
.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 0.375rem;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  background-color: #2d2d2d;
  backdrop-filter: blur(5px);
}

.animate-background {
  position: absolute;
  inset: -600%;
  animation: spin 4s linear infinite;
  background: conic-gradient(from 90deg at 50% 50%, #D6FFFE 0%, #00FFF7 50%, #E2CBFF 100%);
  transition: opacity 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: #00FFF7;
  border-color: #00FFF7;
}

.btn:hover .animate-background {
  opacity: 0.5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

/* Nueva clase para el contenido del botón */
.btn-content {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem; /* Espaciado interno */
  background-color: #123;
  backdrop-filter: blur(10px);
}

/* Nueva clase para los enlaces dentro de los botones */
.btn-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem; /* Tamaño de fuente */
  font-weight: 600; /* Negrita */
  color: #f9f9f9;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

/* Iconos generales */
.icon-general {
  width: 1.25rem; /* Tamaño del ícono */
  height: 1.25rem;
  margin-right: 0.25rem; /* Espacio entre el ícono y el texto */
}

/* Hover en los enlaces */
.btn-link:hover {
  color: cyan; /* Cambia el color al hacer hover */
}


.container {
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
}
.container_navbar {
  width: 100%;
}

.droppo {
  maxWidth: "100%";
  height: "auto";
  filter:"drop-shadow(0px 4.42184px 4.23px rgba(79, 209, 197, 1))"

}

@layer base {
  body {
    @apply font-secondary text-lg leading-8;
  }
  .h2 {
    @apply font-primary text-[4rem] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full  font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply bg-gradient-to-r font-semibold font-primary px-8 h-[54px];
  }
  .section {
    @apply py-8 lg:py-32 lg:h-screen flex items-center;
  }
}
